.buttonDefault {
    -fx-background-color:
        slategray,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 32px;
}

.noLoad {
    -fx-background-color:
        white,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #a49f9f;
    -fx-font-size: 32px;
}

.titleFont {
    -fx-font-family: "Arial Black", Gadget, sans-serif;
    -fx-font-size: 72px;
    -fx-letter-spacing: 0px;
    -fx-word-spacing: 2px;
    -fx-color: #000000;
    -fx-font-weight: 700;
    -fx-text-decoration: none solid rgb(68, 68, 68);
    -fx-font-style: italic;
    -fx-font-variant: small-caps;
    -fx-text-transform: capitalize;
}